:root {
  --min-width: 300px;
  --max-width: 1200px;
  --border-radius: 8px;

  --gunmetal-blue: #1b2735;
  --prussian-blue: #27394d;
  --blue-green: #379dc9;
  --white: #fff;
  --black: #000;

  background: var(--white);
  color: var(--black);

  min-width: var(--min-width);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
