.table {
  min-width: 300px;
  width: 600px;

  border-collapse: collapse;
}

.table td,
.table th {
  padding: 10px;
}

.table thead {
  background-color: var(--gunmetal-blue);
  color: var(--white);

  text-align: left;
  font-weight: bold;
}

.table tbody {
  border-radius: 10px;
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tr:last-of-type {
  border-bottom: 2px solid var(--gunmetal-blue);
}
