.main {
  display: flex;
  justify-content: center;

  min-width: var(--min-width);

  padding: 20px;
}

.inputs {
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
}

.wrapper {
  max-width: 800px;
}

@media (max-width: 600px) {
  .inputs {
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
  }
}
